<!DOCTYPE html>
<html>
  <head>
    <title>
      You played scissors!
    </title>
    <meta charset="utf-8">
  </head>
  <body>
    <!--Choices of what to play, with hrefs-->
    <div><a href="/rock">Play Rock</a></div>
    <div><a href="/paper">Play Paper</a></div>
    <div><a href="/scissors">Play Scissors</a></div>

    <!--Display of what we played, opponents' play, result-->
    <h2>We played scissors!</h2>
    <% cpu_move = ["rock", "paper", "scissors"].sample %>
    <h2>
      They played <%= cpu_move %>!
    </h2>
    <% result_dict = {"rock"=>"lost" , "paper"=>"won", "scissors"=>"tied"} %>
    <h2>We <%=result_dict.fetch(cpu_move)%>!</h2>

    <!--Link to rules introduction-->
    <div><a href="/">Rules</a></div>
  </body>

</html>
